{
  "email": "conta-com-cadastro-completo@email.com",
  "password": "SuaSenhaAqui",
  "emailOnboarding": "conta-pendente-de-onboarding@email.com",
  "passwordOnboarding": "SuaSenhaAqui",
  "phone": "11999999999"
}
